* {
    box-sizing: border-box;
    font-family: "Segeo UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
}

.click-event {
    border: 6px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
}

p {
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;
}

.mousemouve {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 2px solid red;
    border-radius: 50px;
    top : 50%;
    left : 50%;
}